/* header */

#header-container {
  background-color: #eeecec;
  text-align: center;
}
.header {
  text-shadow: 10px 5px #d5d3d3;
}

.slogan {
}
/* Navbar */

#home-link:visited {
  color: white;
}

#home-link {
  text-decoration: none;
}

/* #nav-bar {
}

#logged-in-user {
  font-weight: 600;
} */

/* SortBy list */

/* Article list */
