/* header */

#header-container {
  background-color: #eeecec;
  text-align: center;
}
.header {
  text-shadow: 10px 5px #d5d3d3;
}

.slogan {
}
/* Navbar */

#sortby-list-container {
  max-width: 100%;
}

#avatar {
  max-width: 5%;
}

#home-link:visited {
  color: white;
}

#home-link {
  text-decoration: none;
}

.my-toolbar {
  display: flex;
  flex-wrap: wrap;
}

.home,
.user {
  flex-basis: 92%;
}

.user {
  text-align: right;
  color: white;
  text-decoration: none;
}

#avatar {
  vertical-align: middle;
  max-width: 70px;
  max-height: 50px;
  border-radius: 20%;
  margin-left: 20px;
}
*/

/* SortBy list */

/* Article cards */

#article-link:visited {
  color: black;
}

#article-link {
  text-decoration: none;
  color: black;
}

/* Individual Article */
#article-image {
  border-radius: 10px;
  max-width: 90%;
}

/* Comment List */
#comment {
  background-color: #eeeeee;
}
